<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prática 1 - Resposta do Servidor</title>
</head>
<body>
    <div class="container">
        <h1>Dados Recebidos!</h1>
        <p class="info"><%= mensagem %></p>
        <a href="/">Voltar ao Formulário</a>
    </div>
</body>
</html>